@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1> Test Query String </h1>

<a href="/StateMangmentPart2/getQueryString?name=ali&age=20">Send Data</a>